<div class="row">
    <div class="col-xs-3">
        <a href="/admin/stats?chart=user"><button type="button" class="btn btn-block btn-info">Новые пользователи по дням</button></a>
    </div>
    <div class="col-xs-3">
        <a href="/admin/stats?chart=specs"><button type="button" class="btn btn-block btn-info">Професии</button></a>
    </div>
    <div class="col-xs-3">
        <a href="/admin/stats?chart=orders_per_week"><button type="button" class="btn btn-block btn-info">Заказы по неделям</button></a>
    </div>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-xs-3">
        <a href="/admin/stats?chart=recommended_users"><button type="button" class="btn btn-block btn-info">Рекомендованные мастера</button></a>
    </div>
    <div class="col-xs-3">
        <a href="/admin/stats?chart=paid_users"><button type="button" class="btn btn-block btn-info">История пополнения гвоздей</button></a>
    </div>
    <div class="col-xs-3">
        <a href="/admin/stats?chart=paid_nails"><button type="button" class="btn btn-block btn-info">История активации услуг</button></a>
    </div>
</div>

<div class="row" style="margin-top: 10px;">
	<div class="col-xs-3">
		<a href="/admin/stats?chart=new_users"><button type="button" class="btn btn-block btn-info">Таблица пользователей по месяцам</button></a>
	</div>
	<div class="col-xs-3">
			<a href="/admin/stats?chart=nails_stat"><button type="button" class="btn btn-block btn-info">Статистика услуг</button></a>
	</div>
	<div class="col-xs-3">
      <a href="/admin/stats?chart=blocks_user"><button type="button" class="btn btn-block btn-info">Заблокированные пользователи</button></a>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col-xs-3">
  <a href="/admin/stats?chart=admin_message"><button type="button" class="btn btn-block btn-info">Поиск админ сообщений </button></a>
  </div>
</div>
