<h2>
    Загрузка фотки тест
</h2>
<form method="POST" enctype="multipart/form-data" action="/user/uploadAvatar">

    <input type="hidden" id="userId" value="1" name="userId" />
    <input type="hidden" id="token" name="token" value="wug4mLerT7Es9McFHXszu2prhQjUZ4zBwF71742QQwPy3-lmvMlbqVbz59tL9slB" />
    <input type="file" name="avatar" id="avatar"/>
    <input type="submit"/>


</form>
