
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Мастерам &#8212; Мастерам</title>
    <meta name='robots' content='noindex,follow' />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='singleapp-google-fonts-css'  href='//fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C500%2C700%2C400italic&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='/css/landing/font-awesome.min.css?ver=4.6.3' type='text/css' media='all' />
    <link rel='stylesheet' id='singleapp-style-css'  href='/css/landing/style.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css'  href='/css/landing/animate.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='linear-icons-css'  href='/css/landing/icon-font.min.css?ver=1.0.0' type='text/css' media='all' />
    <script type='text/javascript' src='/js/landing/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='/js/landing/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='/js/landing/wow.js?ver=4.9.8'></script>
    <script type='text/javascript' src='/js/landing/jquery.bxslider.min.js?ver=4.1.2'></script>
    <script type='text/javascript' src='/js/landing/jquery.sticky.js?ver=1.0.2'></script>
    <script type='text/javascript' src='/js/landing/main.js?ver=1.0.0'></script>
    <script type='text/javascript' src='/js/landing/skip-link-focus-fix.js?ver=20151215'></script>
    <script type='text/javascript' src='/js/landing/current-device.min.js?ver=4.1.2'></script>
    <script type='text/javascript' src='/js/landing/svgembedder.min.js?ver=Free_1.0.0'></script>
    <script type='text/javascript' src='/js/landing/wp-embed.min.js?ver=4.9.8'></script>
    <style type="text/css" id="custom-background-css">
        body.custom-background { background: none !important; }
    </style>
    <style type="text/css">.site-description,.feature-left .feature-title a,.feature-icon .fa,.feature-right .feature-title a,.design-by a:hover,.copyright-desc a:hover,#crumbs span,.entry-footer a,.widget_archive a:hover::before, .widget_categories a:hover:before, .widget_pages a:hover:before, .widget_meta a:hover:before, .widget_recent_comments a:hover:before, .widget_recent_entries a:hover:before, .widget_rss a:hover:before, .widget_nav_menu a:hover:before, .widget_archive li a:hover, .widget_categories li a:hover, .widget_pages li a:hover, .widget_meta li a:hover, .widget_recent_comments li a:hover, .widget_recent_entries li a:hover, .widget_rss li a:hover, .widget_nav_menu li a:hover, .widget_tag_cloud a:hover,.archive .page-title, .archive .entry-footer a,#site-navigation ul.sub-menu > li:hover > a, #site-navigation ul.children > li:hover > a, #nav li.active a,#site-navigation ul li a:hover,.fullpage_layout .copyright-desc a,.fullpage_layout #site-navigation ul li a:hover, .fullpage_layout #site-navigation ul li a.active,.fullpage_layout .client-name,.fullpage_layout #nav li.active a,#site-navigation .menu-toggle:hover::before { color: rgba(0,53,129, 0.85) } .icon-border,.reviews-wrapper .bx-pager-item .bx-pager-link.active,#crumbs,blockquote,input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus,.fullpage_layout .reviews-wrapper .bx-pager-item .bx-pager-link,.fullpage_layout .reviews-wrapper .bx-pager-item .bx-pager-link.active,.fullpage_layout .reviews-desc,.fullpage_layout #nav li:hover a::after, .fullpage_layout #nav li.active a::after,#site-navigation ul.sub-menu, #site-navigation ul.children,.fullpage_layout .share-wrapper .btn-wrapper a:first-child, .fullpage_layout .share-wrapper .btn-wrapper a,.fullpage_layout .share-wrapper .btn-wrapper a:first-child:hover, .fullpage_layout .share-wrapper .btn-wrapper a:hover,.share-wrapper .btn-wrapper a,.share-wrapper .btn-wrapper a:first-child,.share-wrapper .btn-wrapper a:hover,.bx-pager-link { border-color: #003581} .contact-wrapper form .wpcf7-submit,.onepage_layout .contact .social-icons .social-icon:hover,#scroll-up,.widget .widget-title::after,.num-404,.fullpage_layout .reviews-wrapper .bx-pager-item .bx-pager-link.active,.fullpage_layout #nav li:hover a::after, .fullpage_layout #nav li.active a::after,.fullpage_layout footer .social-icons .social-icon:hover, .onepage_layout .contact .social-icons .social-icon:hover,.fullpage_layout .banner-btn-wrapper > a,.fullpage_layout .share-wrapper .btn-wrapper a:first-child, .fullpage_layout .share-wrapper .btn-wrapper a,.share-wrapper .btn-wrapper a:hover,.bx-pager-link.active { background-color: #003581} </style>
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <script>
        new WOW().init();
    </script>
    <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?160",t.onload=function(){VK.Retargeting.Init("VK-RTRG-345073-41fQn"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-345073-41fQn" style="position:fixed; left:-999px;" alt=""/></noscript>
</head>

<body class="home page-template-default page page-id-2 wp-custom-logo onepage_layout">


<div id="page" class="hfeedsite">



    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>

    <div id="home" class="home-slider tg-fullpage-section">
        <img class="slider-bg" src="/images/landing/1527586795_maxresdefault_00-1.jpg" alt="Мастерам">
        <div class="overlay"></div>
        <div class="banner-wrapper">
            <div class="banner-container">
                <div class="iphone-screen tg-screenshot">
                    <img src="/images/landing/phone-masteram-01.png">
                </div><!-- .iphone-screen end -->

                <div class="banner-inner-content fullpage-content">
                    <h3 class="banner-title">Всё, что нужно MASTERAM</h3>

                    <div class="banner-btn-wrapper">
                        <a href="#">
                            <i class="fa fa fa-apple"></i>
                            <div class="btn-text">
                                <h4>App Store</h4>
                            </div><!-- .btn-text end -->
                        </a>

                        <a href="#">
                            <i class="fa fa fa-play"></i>
                            <div class="btn-text">
                                <h4>Google Play</h4>
                            </div><!-- .btn-text end -->
                        </a>

                    </div><!-- .banner-btn-wrapper end -->
                </div><!-- .banner-inner-content end -->
            </div><!-- .banner-container -->
        </div><!-- .banner-wrapper end -->
    </div><!-- .home-slider end -->



    <header id="masthead" class="site-header">

        <div class="header-wrapper clearfix">

            <div class="tg-container">

                <div class="logo">
                    <a href="http://12.test01.pp.ua/" class="custom-logo-link" rel="home" itemprop="url"><img width="300" height="57" src="/images/landing/logo.png" class="custom-logo" alt="Логотип" itemprop="logo" /></a>					</div><!--end logo-->
                <div class="slogan">Все, что нужно <span class="masteram">Masteram</span></div>

                <div id="header-text"  class="screen-reader-text">


                    <p class="site-title"><a href="http://12.test01.pp.ua/" rel="home">Мастерам</a></p>


                    <p class="site-description">Мастерам</p>


                </div><!--#header-text-->
            </div><!-- end tg-container -->

        </div><!--header wrapper end-->

    </header><!--header end-->

    <div id="content" class="site-content">
        <main id="main" class="clearfix no_sidebar_full_width">
            <div class="tg-container">
                <div id="primary">
                    <article id="post-2" class="post-2 page type-page status-publish hentry">
                        <div class="entry-content">
                            <div class="screen screen1">
                                <h1 class="screen1__h1"><span class="masteram">MASTERAM</span> &#8212; мессенджер для строителей</h1>
                                <p class="screen1__h3">В этом приложении мастера и прорабы из одного города могут в режиме реального времени:</p>
                                <ul class="screen1__list-of-power">
                                    <li><span>найти работу</span></li>
                                    <li><span>предложить заказ другим специалистам</span></li>
                                    <li><span>обсудить условия сотрудничества и деловые вопросы</span></li>
                                    <li><span>поделиться важной информацией и проконсультироваться</span></li>
                                </ul>
                                <div class="screen1__get-icons">
                                    <a class="screen1__get-icons-item" href="https://play.google.com/store/apps/details?id=com.masteram" target="_blank">Скачать</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="screen screen2">
                                    <h3 class="screen2__h3">В чате своего города вы можете бесплатно общаться 5 дней, предлагать услуги и искать заказы. После 5 дней доступ становится платным – благодаря этому в чате минимум спама и максимум реальных предложений сотрудничества.</h3>
                                    <h4 class="screen3__h4"><span class="masteram">MASTERAM</span> &#8212; это</h4>
                                    <div class="screen2__phone">
                                        <img src="/images/landing/phone-perspectiva.png" alt=""></p>
                                        <ul class="screen2__list">
                                            <li class="screen2__list-item screen2__list-item--1 wow fadeInUp">знакомый и понятный интерфейс</li>
                                            <li class="screen2__list-item screen2__list-item--2 wow fadeInUp">получение ответа в течение 10 минут	</li>
                                            <li class="screen2__list-item screen2__list-item--3 wow fadeInUp">строители города в одном общем чате</li>
                                            <li class="screen2__list-item screen2__list-item--4 wow fadeInUp">профессиональная переписка без хамства</li>
                                            <li class="screen2__list-item screen2__list-item--5 wow fadeInUp">«живое» общение в режиме онлайн</li>
                                        </ul></div>
                                    </p></div>
                            </div>
                            <div class="row">
                                <div class="screen screen3">
                                    <h3 class="screen3__title ">Что вы получите:</h3>
                                    <ul class="screen3__list">
                                        <li><span class="lnr lnr-rocket"></span><span class="txt"><strong>моментальные отклики</strong> строителей на предложение о работе</span></li>
                                        <li><span class="lnr lnr-thumbs-up"></span><span class="txt"><strong>общение со специалистами</strong> напрямую, без посредников = без комиссии</span></li>
                                        <li><span class="lnr lnr-smartphone"></span><span class="txt"><strong>одно приложение</strong> взамен десятков групп в других мессенджерах</span></li>
                                        <li><span class="lnr lnr-diamond"></span><span class="txt"><strong>только актуальные сообщения</strong> в выбранном районе</span></li>
                                        <li><span class="lnr lnr-mustache"></span><span class="txt"><strong>сотрудничество с добросовестными</strong> мастерами, которым можно доверять</span></li>
                                        <li><span class="lnr lnr-clock"></span><span class="txt"><strong>экономию времени</strong> на поиске заказов или подрядчика и помощников</span></li>
                                    </ul></div>
                            </div>
                            <div class="row">
                                <div class="screen screen4">
                                    <h3 class="screen4_title ">Функционал <span class="masteram">MASTERAM</span></h3>
                                    <ul class="screen4_list">
                                        <li class="screen4_list-item1 "><span class="list-item-title">Система рейтинга</span><span class="list-item-icon"><img src="/images/landing/review.png" alt=""></span><span class="list-item-descr">У участников есть «Карма», на которую влияют оценки других пользователей. Так отсеиваются недобросовестные строители и мошенники</span></li>
                                        <li class="screen4_list-item2"><span class="list-item-title">Портфолио</span><span class="list-item-icon"><img src="/images/landing/briefcase.png" alt=""></span> <span class="list-item-descr">В этом разделе мастера указывают виды выполняемых работ, описывают свой опыт и выставляют фотографии с предыдущих объектов</span></li>
                                        <li class="screen4_list-item3"><span class="list-item-title">Общий чат и личные сообщения</span><span class="list-item-icon"><img src="/images/landing/conversation.png" alt=""></span> <span class="list-item-descr">Можно быстро найти заказчика или подрядчика в общем чате, а затем обсудить с ним детали в личной переписке</span></li>
                                        <li class="screen4_list-item4"><span class="list-item-title">Смена локации</span><span class="list-item-icon"><img src="/images/landing/map.png" alt=""></span> <span class="list-item-descr">Если вы работаете в нескольких городах или переезжаете, просто укажите другое местоположение и откройте новый чат</span></li>
                                    </ul></div>
                            </div>
                            <div class="screen screen5">
                                <h3 class="screen5_title"><span class="title-text">Как это работает</span><span class="title-image"><img src="/images/landing/businessman-in-apresentation-with-a-graphic-on-a-board.png" alt=""></span></h3>
                                <ol class="screen1__list-of-power screen1__list-of-power--screen5">
                                    <li><span>Вы скачиваете приложение</span></li>
                                    <li><span>Регистрируетесь через аккаунт «Гугл»</span></li>
                                    <li><span>Выбираете чат нужного города</span></li>
                                    <li><span>Пишете сообщение</span></li>
                                    <li><span>В режиме реального времени получаете ответ</span></li>
                                    <li><span>Обмениваетесь контактами или договариваетесь о встрече</span></li>
                                </ol>
                                <div class="screen1__get-icons">
                                    <a class="screen1__get-icons-item" href="javascript:void(0);">Скачать</a>
                                </div>
                            </div>
                        </div><!-- .entry-content -->
                        <footer class="entry-footer">
                        </footer><!-- .entry-footer -->
                    </article><!-- #post-## -->				</div><!-- #primary -->
            </div><!-- .tg-container -->
        </main><!-- #main -->
    </div><!-- #content -->

    <footer class="copyright">

        <div class="section-wrapper">

            <div class="tg-container">

                <div class="footer-content">


                    <h3 class="footer-logo wow fadeInUp"><a href="http://12.test01.pp.ua/" class="custom-logo-link" rel="home" itemprop="url"><img width="300" height="57" src="/images/landing/logo.png" class="custom-logo" alt="Логотип" itemprop="logo" /></a></h3>




                    <h4 class="copyright-desc wow fadeInUp">Copyright &copy; 2018 <span><a href="http://12.test01.pp.ua/" title="Мастерам" >Мастерам</a></span></h4>

                </div>

            </div><!-- end tg-container -->

        </div><!-- #section-wrapper -->

    </footer><!-- end copyright -->

</div><!-- #page -->
</body>

</html>
