<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вызов мастеров для строительных и ремонтных работ одним звонком</title>
    <meta property="og:url" content="http://masteramtut.ru/" />
    <meta property="og:title" content="Строительство и ремонт под ключ в Сочи и Краснодаре" />
    <meta property="og:description" content="Вызов мастера любой специальности по Сочи и Краснодару для строительства и ремонта. Бесплатный заказ строителей онлайн. Составление сметы, скидки, оценка строительных работ." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/landing/358500.jpg" />
    <meta property="fb:app_id" content="257953674358265" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="description" content="Вызов мастера любой специальности по Сочи и Краснодару для строительства и ремонта. Бесплатный заказ строителей онлайн. Составление сметы, скидки, оценка строительных работ." />
    <meta name="keywords" content="Вызов мастера любой специальности, Вызов строителей сочи, Поиск строителей краснодар, Мастера онлайн,
Строители онлайн , Строительный мессенджер Masteram, Приложение Masteram для строителей, Строители Сочи, Ремонт краснодар, Строители Краснодар,
Мастера Сочи, Мастера Краснодар, Быстрый вызов строителей, Искать строителей Сочи/краснодар, Мастера для строительства, Мастера для ремонта, Составление сметы,
 Оценка качества работ, Вызвать мастера, Скидки на стройматериалы, Бесплатный вызов мастера, Мастера онлайн, Работа строителям, Вызов мастера звонок, Заказать мастера онлайн,
 Бетонные работы, Кровельные работы, Установка окон, Бурильные работы, Сварочные работы, Установка кондиционера, Фасадные работы,
 Ремонт квартир под ключ, Дома под ключ,  Плиточник, Отделочник, Бетонщик, Кровельщик, Оконщик, Бурильщик, Перевозчик, Каменщик, Сварщик, Прораб, Инженер, Дизайнер, Альпинист, Электрик, Кондиционерщик, Фасадчик, Плотник, Сантехник, Маляр, Бетонщик, Кровельщик, Монтажник окон, Кондиционерщик
" />
    <link rel="canonical" href="http://masteramtut.ru/">
    <link rel="icon" href="/favicon.ico">
    <!-- Assets -->
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://tilda.ws/project735872/tilda-blocks-2.12.css?t=1550638492" type="text/css" media="all" />
    <link rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css" type="text/css" media="all" />
    <script src="https://static.tildacdn.com/js/jquery-1.10.2.min.js"></script>
    <script src="https://static.tildacdn.com/js/tilda-scripts-2.8.min.js"></script>
    <script src="https://tilda.ws/project735872/tilda-blocks-2.7.js?t=1550638492"></script>
    <script src="https://static.tildacdn.com/js/lazyload-1.3.min.js" charset="utf-8"></script>
    <script src="https://static.tildacdn.com/js/tilda-animation-1.0.min.js" charset="utf-8"></script>
    <script src="https://static.tildacdn.com/js/tilda-forms-1.0.min.js" charset="utf-8"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">if((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent))===false && typeof(sessionStorage)!='undefined' && sessionStorage.getItem('visited')!=='y'){	var style=document.createElement('style');	style.type='text/css';	style.innerHTML='@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';	document.getElementsByTagName('head')[0].appendChild(style);	$(document).ready(function() { $('.t-records').addClass('t-records_animated'); setTimeout(function(){ $('.t-records').addClass('t-records_visible'); sessionStorage.setItem('visited','y'); },400);	});
        }
    </script>
    <script src="https://unpkg.com/imask"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->
    <!-- fotorama.css & fotorama.js. -->
    <link  href="/css/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="/js/fotorama.js"></script> <!-- 16 KB -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css" type="text/css" media="all" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?160",t.onload=function(){VK.Retargeting.Init("VK-RTRG-345073-41fQn"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-345073-41fQn" style="position:fixed; left:-999px;" alt=""/></noscript>
    <style>
        .has-error{
            border-color: #ae221b;
        }

        .city_selected,  .area_selected{
            display: none;
        }
        /*
#fotoonpage .fotorama__stage {
  display: none;
}
*/

        .fotobg,
        .popupbg {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.5;
            z-index: 11;
            display: none;
        }
        #fotoonpage .fotorama__stage,
        .popup {
            position: fixed;
            top: 100px;
            //left: 50%;
            //width: 280px;
            //margin-left: -140px;
            z-index: 12;
            display: none;
        }
        #fotoonpage .fotorama__stage,
        .popup.pf {
            width: 100%;
            //margin-left: -400px;
        }

        .popup-tf{

        }


        .t-btntext:after{
            content:"";
        }
        .banner .content .button {
            vertical-align: middle;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            position: relative;
            font-family: Ubuntu-Bold, sans-serif;
            color: #fff;
            padding: 15px 45px 15px 33px;
            background-color: #13ce67;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            margin-right: 34px;
            -webkit-transition: background-color .4s;
            -o-transition: background-color .4s;
            transition: background-color .4s;
        }

        .banner .content .button img{
            position: absolute;
            right: 10px;
            top: 16px;
        }
    </style>

</head>
<body class="t-body" style="margin:0;">

<div class="popupbg"></div>
<div class="popup pf">
    <div class="popup-tf">
        <div class="border">
            <div class="content">
                <div class="fotorama1 fotoramam" data-width="100%" data-ratio="800/600">
                </div>
                <div class="fotorama2 fotoramam" data-width="100%" data-ratio="800/600">
                    <img src="/images/landing/photos/a1.jpg" alt="">
                    <img src="/images/landing/photos/a2.jpg" alt="">
                    <img src="/images/landing/photos/a3.jpg" alt="">
                    <img src="/images/landing/photos/a4.jpg" alt="">
                    <img src="/images/landing/photos/a5.jpg" alt="">
                    <img src="/images/landing/photos/a6.jpg" alt="">
                    <img src="/images/landing/photos/a7.jpg" alt="">
                </div>
                <div class="fotorama3 fotoramam" data-width="100%" data-ratio="800/600">
                    <img src="/images/landing/photos/s4-item10.jpg" alt="">
                    <img src="/images/landing/photos/work1.jpg" alt="">
                    <img src="/images/landing/photos/work2.jpg" alt="">
                    <img src="/images/landing/photos/work3.jpg" alt="">
                    <img src="/images/landing/photos/work4.jpg" alt="">
                    <img src="/images/landing/photos/work5.jpg" alt="">
                    <img src="/images/landing/photos/work6.jpg" alt="">
                    <img src="/images/landing/photos/work7.jpg" alt="">
                    <img src="/images/landing/photos/work8.jpg" alt="">
                    <img src="/images/landing/photos/work9.jpg" alt="">
                    <img src="/images/landing/photos/h1.jpg" alt="">
                    <img src="/images/landing/photos/h2.jpg" alt="">
                    <img src="/images/landing/photos/h3.jpg" alt="">
                    <img src="/images/landing/photos/h4.jpg" alt="">
                    <img src="/images/landing/photos/h5.jpg" alt="">
                    <img src="/images/landing/photos/h6.jpg" alt="">
                    <img src="/images/landing/photos/h7.jpg" alt="">
                    <img src="/images/landing/photos/work10.jpeg" alt="">
                    <img src="/images/landing/photos/work11.jpeg" alt="">
                    <img src="/images/landing/photos/work12.jpeg" alt="">
                    <img src="/images/landing/photos/work13.jpeg" alt="">
                    <img src="/images/landing/photos/work14.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!--allrecords-->
<div id="allrecords" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="735872" data-tilda-page-id="4891258" data-tilda-formskey="f1eb323bb3023f52f4c077853844a739" >
    <div id="rec88719573" class="r t-rec" style=" " data-animationappear="off" data-record-type="446" >
        <!-- T446 -->
        <div id="nav88719573marker"></div>
        <div class="t446__mobile">
            <div class="t446__mobile_container">
                <div class="t446__mobile_text t-name t-name_md" field="text">Masteram</div>
                <div class="t446__mobile_burger"> <span></span> <span></span> <span></span> <span></span> </div>
            </div>
        </div>
        <div id="nav88719573" class="t446 t446__hidden t446__positionabsolute " style="background-color: rgba(0,0,0,0.0); height:50px; " data-bgcolor-hex="#000000" data-bgcolor-rgba="rgba(0,0,0,0.0)" data-navmarker="nav88719573marker" data-appearoffset="" data-bgopacity-two="" data-menushadow="" data-bgopacity="0.0" data-menu-items-align="center" data-menu="yes">
            <div class="t446__maincontainer t446__c12collumns" style="height:50px;">
                <div class="t446__logowrapper">
                    <div class="t446__logowrapper2">
                        <div style="display: block;"> <a href="http://tilda.cc" style="color:#ffffff;font-weight:600;"> <img src="https://static.tildacdn.com/tild6535-3938-4664-b537-396465313761/_.png" class="t446__imglogo " imgfield="img" style="min-width:150px;" alt="ЛОГОТИП"> </a> </div>
                    </div>
                </div>
                <div class="t446__leftwrapper" style="padding-left:20px; text-align: left;">
                    <div class="t446__leftmenuwrapper">
                        <ul class="t446__list">
                            <li class="t446__list_item"><a class="t-menu__link-item" href="#about" style="color:#ffffff;font-weight:600;" data-menu-item-number="1">О нас</a></li>
                            <li class="t446__list_item"><a class="t-menu__link-item" href="#service" style="color:#ffffff;font-weight:600;" data-menu-item-number="2">Услуги</a></li>
                            <li class="t446__list_item"><a class="t-menu__link-item" href="#contact" style="color:#ffffff;font-weight:600;" data-menu-item-number="3">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="t446__rightwrapper" style="padding-right:20px; text-align: right;">
                    <div class="t446__rightmenuwrapper">
                        <ul class="t446__list"> </ul>
                    </div>
                    <div class="t446__additionalwrapper" style="margin-top: 10px;">
                        <a href="tel:+79186415832" class="phonelink"><div class="t446__right_descr" style="color:#ffffff;font-size:20px;">Телефон: +7 918 641 58 32</div></a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">	$(document).ready(function() { t446_setLogoPadding('88719573'); });	var t446__doResize; $(window).resize(function(){ t446_checkOverflow('88719573', '50'); clearTimeout(t446__doResize); t446__doResize = setTimeout(function() { t446_checkOverflow('88719573', '50'); }, 200); }); $(window).load(function() { t446_checkOverflow('88719573', '50'); });	$(document).ready(function() { t446_checkOverflow('88719573', '50'); }); $(document).ready(function() { t446_highlight(); });
            $(window).resize(function() { t446_setBg('88719573');
            });
            $(document).ready(function() { t446_setBg('88719573');
            });
        </script>
        <script type="text/javascript"> $(document).ready(function() { t446_createMobileMenu('88719573'); }); </script>
        <style>#rec88719573 .t-menu__link-item{ position: relative;	}
            #rec88719573 .t-menu__link-item::after { content: ''; position: absolute; left: 0;	bottom: 20%;	opacity: 0;	width: 100%;	height: 100%;	border-bottom: 1px solid #ffffff; -webkit-box-shadow: inset 0px -1px 0px 0px #ffffff; -moz-box-shadow: inset 0px -1px 0px 0px #ffffff; box-shadow: inset 0px -1px 0px 0px #ffffff; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;
            }
            #rec88719573 .t-menu__link-item:not(.t-active):not(.tooltipstered):hover::after{	opacity: 1;	bottom: -1px;	}
            @supports (overflow:-webkit-marquee) and (justify-content:inherit)
            { #rec88719573 .t-menu__link-item, #rec88719573 .t-menu__link-item.t-active { opacity: 1 !important; }
            }
        </style>
        <!--[if IE 8]>
        <style>#rec88719573 .t446 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9000000', endColorstr='#D9000000');
        }
        </style>
        <![endif]-->
    </div>
    <div id="rec88719574" class="r t-rec" style=" " data-animationappear="off" data-record-type="18" >
        <!-- cover -->
        <div class="t-cover" id="recorddiv88719574" bgimgfield="img" style="height:90vh; background-image:url('/images/landing/fon.jpg');" >
            <div class="t-cover__carrier" id="coverCarry88719574" data-content-cover-id="88719574" data-content-cover-bg="/images/landing/fon.jpg" data-content-cover-height="90vh" data-content-cover-parallax="dynamic" style="height:90vh;background-attachment:scroll; background-position:center bottom;"></div>
            <div class="t-cover__filter" style="height:90vh;background-image: -moz-linear-gradient(top, rgba(9,47,51,0.80), rgba(8,29,31,0.70));background-image: -webkit-linear-gradient(top, rgba(9,47,51,0.80), rgba(8,29,31,0.70));background-image: -o-linear-gradient(top, rgba(9,47,51,0.80), rgba(8,29,31,0.70));background-image: -ms-linear-gradient(top, rgba(9,47,51,0.80), rgba(8,29,31,0.70));background-image: linear-gradient(top, rgba(9,47,51,0.80), rgba(8,29,31,0.70));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#33092f33', endColorstr='#4c081d1f');"></div>
            <div class="t-container">
                <div class="t-col t-col_12 ">
                    <div class="t-cover__wrapper t-valign_middle" style="height:90vh;">
                        <div class="t001 t-align_center">
                            <div class="t001__wrapper" data-hook-content="covercontent">
                                <div class="t001__title t-title t-title_xl t-animate" data-animate-style="fadeindown" data-animate-group="yes" style="color:#ffffff;font-size:65px;" field="title">Вызов мастера любой специальности</div>
                                <div class="t001__descr t-descr t-descr_xl t001__descr_center t-animate" data-animate-style="fadeindown" data-animate-group="yes" style="color:#ffffff;" field="descr">1 звонок и мы предоставим мастеров для любых строительно-ремонтных работ.
                                    <div style="margin-top: 30px;">
                                        <div class="content">
                                            <div class="row">
                                                <div class="col-md-6 mt-1">
                                                    <a href="tel:+79186415832" target="" class="t-btn phonelink" style="color:#ffffff;background-color:#199c68;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                                        <table style="width:100%; height:100%;">
                                                            <tbody><tr>
                                                                <td>Вызвать мастера</td>
                                                            </tr>
                                                            </tbody></table>
                                                    </a>
                                                </div>
                                                <div class="col-md-6 mt-1">
                                                    <a href="whatsapp://send?phone=+79186415832&abid=+79186415832&text=Привет!" target="" class="t-btn whatsapplink" style="color:#ffffff;background-color:#199c68;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                                        <table style="width:100%; height:100%;">
                                                            <tbody><tr>
                                                                <td>Написать в WhatsApp</td>
                                                                <td><img src="/images/landing/whatsup.png" style="width: 32px; height: 32px; margin-left: 10px;"/></td>
                                                            </tr>
                                                            </tbody></table>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- arrow -->
            <div class="t-cover__arrow">
                <div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated">
                    <div class="t-cover__arrow_mobile">
                        <svg class="t-cover__arrow-svg" style="fill:#e6e6e6;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592" style="enable-background:new 0 0 38.417 18.592;">
                            <g>
                                <path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"/>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- arrow -->
        </div>
    </div>
    <div id="rec88719575" class="r t-rec" style=" " data-record-type="215" ><a name="about" style="font-size:0;"></a></div>
    <div id="rec88719576" class="r t-rec t-rec_pt_120 t-rec_pb_120" style="padding-top:120px;padding-bottom:120px; " data-record-type="480" >
        <!-- T480 -->
        <div style="width: 0; height: 0; overflow: hidden;">
            <div class="t480__sizer t-col t-col_6" data-auto-correct-mobile-width="false" style="height:560px;"></div>
        </div>
        <div class="t480">
            <div class="t-container">
                <div class="t480__top t480__col t-col t-col_6 ">
                    <div style="background-image:url('https://static.tildacdn.com/tild6365-6362-4038-a634-373430313262/x6XW5CpjP8Y.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 200px;
                        width: 200px;
                        border-radius: 100%;
                        background-position: 0px -7px;
                        margin: 0 auto;
"
                    ></div>


                </div>
                <div class="t480__col t-col t-col_6 ">
                    <div class="t480__textwrapper t-align_center" style="height:560px;">
                        <div class="t480__content t-valign_middle">
                            <div class="t480__title t-title t-title_xs t-margin_auto" field="title" style="color:#2110de;">Masteram</div>
                            <div class="t480__uptitle t-descr t-descr_xs t-margin_auto" field="subtitle" style="max-width:400px; font-size: 21px;">Строительный мессенджер</div>
                            <div class="t480__line t-margin_auto" style="background-color: #259da8;"></div>
                            <div class="t480__descr t-descr t-descr_md t-margin_auto" field="descr" style="">Приветствую! Меня зовут Сергей Давыденко. Я с командой создали приложение masteram для строителей из Сочи и Краснодара. В приложении находятся более 1000 строителей всех специальностей – от подсобника и до прораба. Они общаются в чате и получают заказы в режиме онлайн, поэтому всегда быстро реагируют на запросы заказчиков. Поиск строителей – больше не проблема.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript"> $(window).resize(function() { if (typeof window.noAdaptive!="undefined" && window.noAdaptive==true && $isMobile){return;} t480_setHeight('88719576'); }); $(document).ready(function() { t480_setHeight('88719576'); $('.t480').bind('displayChanged',function(){ t480_setHeight('88719576'); }); }); </script>
        <style>#rec88719576 .t-btn:not(.t-animate_no-hover):hover{ background-color: #2648cc !important; color: #0a0a0a !important;	}	#rec88719576 .t-btn:not(.t-animate_no-hover){ -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;	}</style>
    </div>
    <div id="rec88719577" class="r t-rec" style=" " data-record-type="215" ><a name="service" style="font-size:0;"></a></div>
    <div id="rec88719578" class="r t-rec t-rec_pt_165 t-rec_pb_120" style="padding-top:80px;padding-bottom:80px;background-color:#a298e0; " data-record-type="30" data-bg-color="#a298e0">
        <!-- T015 -->
        <div class="t015">
            <div class="t-container t-align_center">
                <div class="t-col t-col_8 t-prefix_2">
                    <div class="t015__title t-title t-title_lg" field="title" style="font-size:52px;">Для чего мы?</div>
                    <div class="t015__descr t-descr t-descr_xl" field="descr"
                         style="text-align: left; text-indent: 25px;
                        font-family: 'Roboto',Arial,sans-serif;
                        font-weight: 300;
                        color: #000; font-size: 18px;"
                    >
                      <p>
                      Masteram – быстрый вызов строителей. Теперь не нужно искать строителей по объявлениям, прозванивая десятки неизвестных номеров. Больше не нужно объяснять десятки раз одно и тоже каждому мастеру. Просто скажите оператору кто вам нужен и что нужно сделать или оставьте заявку на выполнение работ.
                      </p><p>
                        С Masteram достаточно одного движения, чтобы вызвать нужного мастера:</p>
                        <ul style="list-style-type: circle">
                            <li>Для строительства или ремонта</li>
                            <li>Для составления сметы</li>
                            <li>Для оценки качества проведенных работ и консультации.</li>
                        </ul><br /></div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .container{
            font-family: 'Roboto',Arial,sans-serif;
            font-weight: 600;
            color: #000;
            max-width: 100%;
            padding: 0;
            margin: 0;
        }

        .text-data{
            padding-top: 20px;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            max-width: 360px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            font-weight: normal;
            margin: 0 auto;
            filter: alpha(opacity=70);
            KHTMLOpacity: .7;
            MozOpacity: .7;
            opacity: .7;
        }

        .second-order{
            display: none;
        }

        @media only screen and (min-width: 992px) {
            .first-order {
                display: none;
            }

            .second-order {
                display: block;
            }
        }
    </style>
    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-lg-6">
                <img style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3035-3030-4666-b264-633364363439/csa.jpg" />
            </div>
            <div class="col-lg-6">
                <h2 style="text-align: center;
    max-width: 360px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;">1 звонок вместо 10</h2>
                <div class="text-data">Экономим ваше время!<br/>
                    Вызвать мастера так же просто, как вызвать такси.<br/>
                    Позвоните менеджеру или оставьте заявку. Расскажите о проблеме. Мы подберём
                    нужных вам строителей, и они сами свяжутся с вами в течение 2 часов.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 first-order">
                <img style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6263-3863-4661-a532-626365323333/1db9ab9d89c449c59d14.jpg" />

            </div>
            <div class="col-lg-6">
                <h2 style="text-align: center;
    max-width: 360px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;">Скидки на стройматериалы</h2>
                <div class="text-data">Экономим ваши деньги!<br/>У нас и у наших мастеров есть компании, которые продают строительные материалы и работая с нами, вы будете покупать материалы со скидкой. Эта экономия, как минимум вам оправдает доставку материала, а как максимум останутся деньги на путешествие!</div>
            </div>
            <div class="col-lg-6 second-order">
                <img style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild6263-3863-4661-a532-626365323333/1db9ab9d89c449c59d14.jpg" />

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img style="width: 100%; height: auto;" src="https://static.tildacdn.com/tild3238-3964-4139-b130-303266653135/1.jpg" />
        </div>
        <div class="col-lg-6">
            <h2 style="text-align: center;
    max-width: 360px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;">Удовольствие от ремонта</h2>
            <div class="text-data">Бережём ваши нервы!<br />
                Часто работники по рекомендации не оправдывают ожиданий, а выгнать их неудобно, чтобы не испортить отношения со знакомыми. Такой ремонт – сплошное раздражение и разочарование. В Masteram вы заказываете профессионала, от услуг которого можете отказаться при необходимости. Тогда мы подберём вам другого мастера по желанию. Пусть ремонт станет для вас удовольствием.
            </div>
        </div>
    </div>

    <div id="rec88719582" class="r t-rec t-rec_pt_75 t-rec_pb_75" style="padding-top:75px;padding-bottom:75px;background-color:#eda663; " data-record-type="209" data-bg-color="#eda663">
        <!-- T185 -->
        <div class="t185">
            <div class="t-container t-container_flex">
                <div class="t-col t-col_flex t-col_6 t-prefix_2">
                    <div class="t-text t-text_lg" style="" field="text">
                        <div style="color:#000000;" data-customstyle="yes">Бесплатный вызов мастера</div>
                    </div>
                </div>
                <div style="margin-top: 30px;">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6 mt-1">
                                <a href="tel:+79186415832" target="" class="t-btn phonelink" style="color:#ffffff;background-color:#199c68;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                    <table style="width:100%; height:100%;">
                                        <tbody><tr>
                                            <td>Вызвать мастера</td>
                                        </tr>
                                        </tbody></table>
                                </a>
                            </div>
                            <div class="col-md-6 mt-1">
                                <a href="whatsapp://send?phone=+79186415832&abid=+79186415832&text=Привет!" target="" class="t-btn  whatsapplink" style="color:#ffffff;background-color:#199c68;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
                                    <table style="width:100%; height:100%;">
                                        <tbody><tr>
                                            <td>Написать в WhatsApp</td>
                                            <td><img src="/images/landing/whatsup.png" style="width: 32px; height: 32px; margin-left: 10px;"/></td>
                                        </tr>
                                        </tbody></table>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>#rec88719582 .t-btn[data-btneffects-first],
            #rec88719582 .t-btn[data-btneffects-second],
            #rec88719582 .t-submit[data-btneffects-first],
            #rec88719582 .t-submit[data-btneffects-second] {	position: relative; overflow: hidden; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);
            }
        </style>
        <script type="text/javascript">$(document).ready(function() {
            });
        </script>
    </div>

    <div id="rec88719583" class="r t-rec t-rec_pt_180 t-rec_pb_180" style="padding-top:180px;padding-bottom:180px; " data-record-type="491" >
        <!-- t491 -->
        <div class="t491">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs" field="btitle">Почему мы?</div>
                    </div>
                </div>
            </div>
            <div class="t-container">
                <div class="t491__col t-col t-col_4 t-item">
                    <div class="t491__content">
                        <div class="t491__wrapper">
                            <img src="https://static.tildacdn.com/lib/tildaicon/33376436-6634-4231-b732-306331373662/17bu_27.svg" class="t491__img t-img" imgfield="li_img__1476976310929" />
                            <div class="t491__title t-name t-name_sm" style="" field="li_title__1476976310929">ОНЛАЙН</div>
                        </div>
                        <div class="t491__descr t-descr t-descr_xs" style="" field="li_descr__1476976310929">Работаем в режиме онлайн. Мастера находятся в чате города и быстро отвечают на запросы</div>
                    </div>
                </div>
                <div class="t491__col t-col t-col_4 t-item">
                    <div class="t491__content">
                        <div class="t491__wrapper">
                            <img src="https://static.tildacdn.com/lib/tildaicon/33376436-6634-4231-b732-306331373662/17bu_27.svg" class="t491__img t-img" imgfield="li_img__1476976315081" />
                            <div class="t491__title t-name t-name_sm" style="" field="li_title__1476976315081">ОПЫТ</div>
                        </div>
                        <div class="t491__descr t-descr t-descr_xs" style="" field="li_descr__1476976315081">Много лет работаем в строительстве и понимаем как и заказчиков, так и мастеров!</div>
                    </div>
                </div>
                <div class="t491__col t-col t-col_4 t-item">
                    <div class="t491__content">
                        <div class="t491__wrapper">
                            <img src="https://static.tildacdn.com/lib/tildaicon/33376436-6634-4231-b732-306331373662/17bu_27.svg" class="t491__img t-img" imgfield="li_img__1476976330452" />
                            <div class="t491__title t-name t-name_sm" style="" field="li_title__1476976330452">УДОБСТВО<br /></div>
                        </div>
                        <div class="t491__descr t-descr t-descr_xs" style="" field="li_descr__1476976330452">можно вызвать любого мастера одним звонком.</div>
                    </div>
                </div>
                <div class="t-clear t491__separator" style=""></div>
                <div class="t491__col t-col t-col_4 t-item">
                    <div class="t491__content">
                        <div class="t491__wrapper">
                            <img src="https://static.tildacdn.com/lib/tildaicon/33376436-6634-4231-b732-306331373662/17bu_27.svg" class="t491__img t-img" imgfield="li_img__1476976334035" />
                            <div class="t491__title t-name t-name_sm" style="" field="li_title__1476976334035">ЭКОНОМИЯ</div>
                        </div>
                        <div class="t491__descr t-descr t-descr_xs" style="" field="li_descr__1476976334035">всегда стройка и ремонт обходятся дороже, чем вы предполагали. Работая с нами вы экономите деньги за счет скидок.</div>
                    </div>
                </div>
                <div class="t491__col t-col t-col_4 t-item">
                    <div class="t491__content">
                        <div class="t491__wrapper">
                            <img src="https://static.tildacdn.com/lib/tildaicon/33376436-6634-4231-b732-306331373662/17bu_27.svg" class="t491__img t-img" imgfield="li_img__1476976688514" />
                            <div class="t491__title t-name t-name_sm" style="" field="li_title__1476976688514">ГАРАНТИИ</div>
                        </div>
                        <div class="t491__descr t-descr t-descr_xs" style="" field="li_descr__1476976688514">Вы можете быть уверены, что в нужный срок у вас будет необходимый мастер!</div>
                    </div>
                </div>
                <div class="t491__col t-col t-col_4 t-item">
                    <div class="t491__content">
                        <div class="t491__wrapper">
                            <img src="https://static.tildacdn.com/lib/tildaicon/33376436-6634-4231-b732-306331373662/17bu_27.svg" class="t491__img t-img" imgfield="li_img__1476976692541" />
                            <div class="t491__title t-name t-name_sm" style="" field="li_title__1476976692541">БЕСПЛАТНО</div>
                        </div>
                        <div class="t491__descr t-descr t-descr_xs" style="" field="li_descr__1476976692541">Наши услуги для вас бесплатны!</div>
                    </div>
                </div>
            </div>
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__bottomwrapper t-clear t-align_center ">
                        <a class="t-btn"
                           style="color:#ffffff;background-color:#2b7491;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;"
                           onclick="jQuery('.popupbg').fadeIn();jQuery('.fotoramam').hide(); jQuery('.fotorama3').show(); jQuery('.popup.pf').fadeIn();return false;"
                        >
                            <table style="width:100%; height:100%;">
                                <tr>
                                    <td>Работы наших мастеров</td>
                                </tr>
                            </table>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .fotorama__wrap{
            margin: 0 auto;
        }
    </style>
    <script>
        $(function(){
            $('.fotorama1, .fotorama2, .fotorama3').fotorama({
                //maxwidth: '100%',
                ratio: "800/600",
                fit: "cover",
                allowfullscreen: true,
                nav: 'thumbs',
                width: "100%"
            });
            $('.popupbg').click(function() {
                $(this).fadeOut();
                $('.popup').fadeOut();
            });
            $('.fotobg').click(function() {
                console.log('click fade');
                $(this).fadeOut();
                $('#fotoonpage .fotorama__stage').fadeOut();
            });

            $('#fotoonpage').on('fotorama:ready', function (e, fotorama, extra) {
                $('#fotoonpage .fotorama__wrap').prepend('<div class="fotobg"></div>');
            });
            $('#fotoonpage').on('fotorama:showend', function (e, fotorama, extra) {
            });
            $('#fotoonpage .fotorama__nav-wrap').click(function(){
                console.log('click');
                $('.fotobg').fadeIn();
                $('#fotoonpage .fotorama__stage').fadeIn();
            });

        })
    </script>
    <div id="rec88719584" class="r t-rec" style=" " data-record-type="215" ><a name="contact" style="font-size:0;"></a></div>
    <div id="rec88719586" class="r t-rec t-rec_pt_30 t-rec_pb_135" style="padding-top:30px;padding-bottom:135px;background-color:#d1caca; " data-animationappear="off" data-record-type="678" data-bg-color="#d1caca">
        <!-- t678 -->
        <div class="t678 t-input_nomargin">
            <div class="t-container">
                <div class="t-col t-col_8 t-prefix_2">
                    <div>

                        <section class="create_order" id="create_order" style="padding: 50px 0 0px 0">
                            <div class="container">
                                <div class="s-title _mPS2id-t" id="create_order">
                                    <h2 style="font-family: Ubuntu-Medium,sans-serif;
    font-size: 30px;
    line-height: 35px;">Оставьте заявку мастерам</h2>
                                </div>
                                <div class="content" style="margin: 0px 10px">
                                    <div id="step1">
                                        <form>
                                            <div class="form-group row mt-3"><label for="area" style="font-size: 18px;">Регион: </label>
                                                <select id="area" name="area" class="form-control">


                                                    <option value="Краснодарский край">Краснодарский край</option>

                                                </select>
                                            </div>

                                            <div class="form-group row mt-3 area_selected" style="display: block;"><label for="topic" style="font-size: 18px;">Город: </label>
                                                <select id="topic" name="topic" class="form-control"><option value="Сочи">Сочи</option><option value="Краснодар">Краснодар</option></select>
                                            </div>

                                            <div class="form-group row mt-3 city_selected" style="display: block;"><label for="jobType" style="font-size: 18px;">Необходимый специалист: </label>
                                                <select id="jobType" name="jobType" class="form-control">
                                                    <option>Не знаю</option>

                                                    <option value="betonshhik">Бетонщик</option>

                                                    <option value="burilshhik">Бурильщик</option>

                                                    <option value="perevozchik">Перевозчик</option>

                                                    <option value="dizajner">Дизайнер</option>

                                                    <option value="kamenshhik">Каменщик</option>

                                                    <option value="svarshhik">Сварщик</option>

                                                    <option value="krovelshhik">Кровельщик</option>

                                                    <option value="otdelochnik">Отделочник</option>

                                                    <option value="inzhener">Инженер</option>

                                                    <option value="prorab">Прораб</option>

                                                    <option value="raznorabochij">Разнорабочий</option>

                                                    <option value="alpinist">Альпинист</option>

                                                    <option value="santehnik">Сантехник</option>

                                                    <option value="plitochnik">Плиточник</option>

                                                    <option value="elektrik">Электрик</option>

                                                    <option value="kondicionershhik">Кондиционерщик</option>

                                                    <option value="gazovshhik">Газовщик</option>

                                                    <option value="fasadchik">Фасадчик</option>

                                                    <option value="plotnik">Плотник</option>

                                                    <option value="okonshhik">Оконщик</option>

                                                    <option value="drugoe">Другое</option>

                                                    <option value="universal">Универсал</option>

                                                    <option value="null">Без указания професии</option>

                                                </select>
                                            </div>

                                            <div class="form-group row mt-3 city_selected" style="display: block;"><label for="description" style="font-size: 18px;">Описание работ: </label>
                                                <textarea id="description" name="description" autocomplete="off" class="form-control" placeholder="Описание требующихся работ"></textarea>
                                            </div>

                                            <div class="form-group row mt-3 city_selected" style="display: block;">
                                                <label for="name" style="font-size: 18px;">Ваше имя: </label>
                                                <input id="name" name="name" autocomplete="off" class="form-control" placeholder="Ваше имя:">
                                            </div>
                                            <div class="form-group row mt-3 city_selected" style="display: block;">
                                                <label for="phoneNumber" style="font-size: 18px;">Номер телефона: </label>
                                                <input id="phoneNumber" name="phoneNumber" autocomplete="off" placeholder="+7(987)654-32-10" class="form-control">
                                            </div>

                                            <div class="row city_selected" style="display: block;">
                                                <button type="button" id="sendOrder" style="vertical-align: middle;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Ubuntu-Bold,sans-serif;
    color: #fff;
    padding: 15px 33px 15px 33px;
    background-color: #13ce67;
    border-color: #13ce67;
    border-style: solid;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-right: 34px;
    -webkit-transition: background-color .4s;
    -o-transition: background-color .4s;
    transition: background-color .4s; cursor: pointer;">Отправить заявку мастерам</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="step2" style="display: none; font-size: 21px; margin-top: 10px">
                                        Заявка отправлена, мастера свяжутся с Вами
                                    </div>
                                </div>
                            </div>
                        </section>


                        <style>#rec88719586 input::-webkit-input-placeholder {color:#000000; opacity: 0.5;}	#rec88719586 input::-moz-placeholder {color:#000000; opacity: 0.5;}	#rec88719586 input:-moz-placeholder {color:#000000; opacity: 0.5;}	#rec88719586 input:-ms-input-placeholder {color:#000000; opacity: 0.5;}	#rec88719586 textarea::-webkit-input-placeholder {color:#000000; opacity: 0.5;}	#rec88719586 textarea::-moz-placeholder {color:#000000; opacity: 0.5;}	#rec88719586 textarea:-moz-placeholder {color:#000000; opacity: 0.5;}	#rec88719586 textarea:-ms-input-placeholder {color:#000000; opacity: 0.5;}</style>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec88719587" class="r t-rec t-rec_pt_0 t-rec_pb_150" style="padding-top:0px;padding-bottom:150px;background-color:#d6cece; " data-record-type="574" data-bg-color="#d6cece">
        <!-- t574-->
        <div class="t574">
            <div class="t-container">
                <div style="text-align: center">
                    <div style="font-size: 21px;font-weight: bold;margin-top: 10px;">Мастера находятся тут:</div>
                    <div class="t480__btn-container banner" style="margin-top: 5px; ">
                        <div class="t480__btntext-wrapper content" style="padding-top: 5px; padding-bottom: 15px;">
                            <a href="https://play.google.com/store/apps/details?id=com.masteram" class="t-btntext t-btntext_sm " style="color:#0d0d0d;">
                                <div class="button" id="download_button">
                                    Скачать Masteram <img style="width: 30px" src="/images/landing/gplay.png" alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="t574__title t-title t-title_xs t574__bottom-margin_lg" style="" field="title"><a href="tel:+79186415832" class="phonelink">+7 918 641 58 32</a><br /><a href="mailto:masteramtut@gmail.com">masteramtut@gmail.com</a></div>
                    <div class="t574__text t-text t-descr_xl t574__bottom-margin_lg" style="" field="text">г.Сочи</div>
                    <div class="t-sociallinks">
                        <div class="t-sociallinks__wrapper">
                            <div class="t-sociallinks__item">
                                <a href="https://vk.com/club174958162" target="_blank">
                                    <img src="/images/landing/vk_icon.png"  style="width: 48px; height: 48px;">
                                </a>
                            </div>
                            <div class="t-sociallinks__item">
                                <a href="https://ok.ru/masteryuga" target="_blank">
                                    <img src="/images/landing/ok_icon.png" style="width: 48px; height: 48px;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel t-tildalabel-free" id="tildacopy" data-tilda-sign="735872#4891258">
  <p class="t-descr" style="color: #fff; padding: 0 10px;">Хотите построить дом в Сочи, Краснодаре или сделать ремонт в квартире? Вам нужно вызвать мастера,
  позвоните нам и мы предоставим вам мастеров ремонтно-строительных работ, таких как:
    Плиточник, Отделочник, Бетонщик, Кровельщик, Оконщик, Бурильщик, Перевозчик, Каменщик, Сварщик, Прораб,
    Инженер, Дизайнер, Альпинист, Электрик, Кондиционерщик, Фасадчик, Плотник, Сантехник, Маляр, Бетонщик,
    Кровельщик, Монтажник окон, Кондиционерщик
  </p>
  <p>Выполняем работы: Бетонные работы, Кровельные работы, Установка окон, Бурильные работы, Сварочные работы, Установка кондиционера, Фасадные работы, строим дома под ключ, ремонт квартир под ключ</p>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(52557019, "init", {
    id:52557019,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
</script>

<script src="/js/wow.min.js"></script>
<script>
    wow = new WOW(
        {
            boxClass:     'wow',      // default
            animateClass: 'animated', // default
            offset:       0,          // default
            mobile:       false,       // default
            live:         true        // default
        }
    )
    wow.init();


    let element = document.getElementById('phoneNumber');
    let maskOptions = {
        mask: '+{7}(000)000-00-00'
    };
    let mask = new IMask(element, maskOptions);

    let citylist = <%- JSON.stringify(sails.config.globals.citylist) %>;


    $("#area").change((function(){
        $(".area_selected").show(100);
        let first_option = $(this).find("option").first();
        if (first_option.text().length == 0){
            $(this).find("option").first().remove();
        }
        $("#topic").html("<option></option>")
        citylist[$(this).val()].forEach((city)=>{
            $("#topic").append(`<option value=\"${city}\">${city}</option>`)
        });
        $(".city_selected").hide(100);
    }));

    $("#topic").change(function(){
        $(".city_selected").show(100);
        let first_option = $(this).find("option").first();
        if (first_option.text().length == 0){
            $(this).find("option").first().remove();
        }
    })



    $("#sendOrder").click(() => {
        let formDiv = $("#step1");
        let error = false;

        if (formDiv.find("#description").val().length > 0){
            formDiv.find("#description").removeClass("has-error");
        }else{
            formDiv.find("#description").addClass("has-error");
            error = true;
        }

        if (formDiv.find("#phoneNumber").val().length > 10){
            formDiv.find("#phoneNumber").removeClass("has-error");
        }else{
            formDiv.find("#phoneNumber").addClass("has-error");
            error = true;
        }

        if (formDiv.find("#name").val().length > 0){
            formDiv.find("#name").removeClass("has-error");
        }else{
            formDiv.find("#name").addClass("has-error");
            error = true;
        }

        if (!error){
            data = {};
            $("#step1 form").serializeArray().forEach((l)=>{
                data[l.name] = l.value;
            })
            $("#step1").toggle();
            $("#step2").toggle();
            $.ajax({
                url: "/order/registerorder",
                type: "POST",
                data: data,
                success: (data)=>{
                    ym(52557019, 'reachGoal', 'zayavka')
                    console.log(data);
                }
            })
        }
    })

    $(function(){
        $('#area option').first().attr("selected", true);
        $('#area option').trigger("change");



        $(".whatsapplink").click(function(){
            ym(52557019, 'reachGoal', 'whatsapp')
        })

        $(".phonelink").click(function(){
            ym(52557019, 'reachGoal', 'zvonok')
        })

        let isMobile = false; //initiate as false
        // device detection
        if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
          || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) {
          isMobile = true;
        }

        if (isMobile){
            $('.phonelink').attr("href", "tel:+79186415832")
        }else{
            $('.phonelink').attr("href", "#create_order")
        }
    })
</script>

<noscript><div><img src="https://mc.yandex.ru/watch/52557019" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
